.calculator {
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  margin: 200px;
  padding: 10px;
  background-color: rgba(182, 165, 165, 0.226);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.display {
  border: 3px solid black;
  border-radius: 5px;
  align-self: auto;
  width: 95%;
  font-size: 20px;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  text-align: end;
}

button {
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  width: 50px;
  padding: 10px;
  margin: 2px;
}

button:active {
  background: #4d4b4b;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.op {
  background-color: bisque;
}

.c {
  background-color: aqua;
}

.n {
  background-color: rgba(189, 189, 189, 0.76);
}

.eq {
  background-color: rgb(228, 134, 134);
}

p {
  margin: 0px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}